@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins');  /*FULL SITE*/
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap'); /*TITOLO*/
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap'); /*CARTA BANCA*/
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap'); /*SEZIONE CAMBIO VALORI*/




*{
    margin: 0;
	padding: 0;
    font-family: 'Poppins';
    transition: all .4s;
}

/*#########################   BODY   #########################*/

body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}



/*@@@@@@   BARRA LATERALE SCORRIMENTO   @@@@@@*/
::-webkit-scrollbar{
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d8d8d8;
    margin: 20px;
    z-index: 4;

}


::-webkit-scrollbar-thumb{
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #d02d0e), color-stop(1, #faa202));
    border-radius: 10px;
}

/*#########################   BOX AREA   #########################*/
.boxArea{
    width: calc(100vw - 10vh);
    height: 90vh;
    display: flex;
    position: relative;
    
	overflow-y: auto;
	overflow-x: hidden;
    
    margin: 44px 0 0;
    
    transition: filter .5s;
}



/*##########################################################################################*/
/*######################                PARTE SINISTRA                ######################*/
/*##########################################################################################*/
.left{
    height: 100%;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 3%;

    background-image: url("../img/backgroundUserPageLeft.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.top,
.down{
    height: 45%;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down{
    justify-content: flex-start;
}


/*@@@  IMMAGINE  @@@*/
#UserIcon{
    height: 70%;
    width: auto;
}


/*@@@  BENVENUTO  @@@*/
.top span{
    height: 15%;
    width: auto;
    display: flex;
    align-items: center;

}

#Welcome{
    font-size: 20px;
    font-weight: 600;
}

/*@@@  NOME - COGNOME  @@@*/
#Nome{
    font-size: 23px;
    font-weight: 600;
    color: #7d1e11;
}

/*@@@  BARRA  @@@*/
.left hr{
    width: 80%;
    border: 2px solid black;
    border-radius: 2px;

    margin: 5%;
}


/*@@@  LISTA SEZIONI  @@@*/
.listSez{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff44;
    border-radius: 20px;

}

.listSez button{
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10%;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1.5px;
}




/*bottone default*/
#infPers{
    font-weight: 600;
}

/*@@@  LOG OUT  @@@*/



#LogOut{
    height: 50px;
    width: 80%;
    margin: 4% 0 2%;
}

#LogOut:hover{
	scale: 1.1;
}


#LogOut input[type=submit]{
	height: 100%;
	width: 100%;
	background: white;
    border: none;
    font-weight: 800;

    border-radius: 25px;
}


/*#########################   PARTE DESTRA   #########################*/
.right{
    height: 100%;
    width: 69%;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    
    background: #cccccc56;


    border-radius: 20px;
}


/*@@@  TITOLO  @@@*/
.title{
    position: absolute;
    top: 4%;
    left: 4%;
    
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 1.5px; 

    font-family: 'Nabla', 'Poppins', cursive;
    border-radius: 25px;
    text-shadow: 2px 2px 6px black;
}




/*@@@  CONTATORE CARTE CREDITO  @@@*/
.listSez ul:nth-child(3){
    display: flex;
}






/*##########################################################################################*/
/*######################                PARTE DESTRA                ########################*/
/*##########################################################################################*/




/*#########################   DETTAGLI PERSONALI   #########################*/
#one{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition-property: opacity;
    transition-duration: .5s;
    
}



/***   PRIMO RIGO   ***/
.rigo{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 90%;
    margin-top: 4%;
}







/*@@@  NOME  @@@*/
.boxCampi, .boxAddress{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.boxAddress{
    width: 100%;
}



/*box testo*/
.boxTitVal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxTitVal p:nth-child(1){
    color: #d02b0f;
    font-weight: 800;
    font-size: 13px;
}

.boxTitVal p:nth-child(2){
    color: black;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
}

/*Icona*/
.Icon{
    height: 70px;
    width: auto;
}

.IconPencil{
    height: 20px;
    width: auto;
    margin: 10px;
    cursor: pointer;

    transition: all .5s;
}

.IconPencil:hover{
    scale: 1.2;
}



/*@@@  DATA DI NASCITA  @@@*/


/*@@@  NUMERO DI TELEFONO  @@@*/


/*@@@  SESSO  @@@*/


/*@@@  BARRA  @@@*/
#one hr{
    width: calc(100% - 10vh);
    border: 2px solid transparent;
    background: linear-gradient(to right,rgba(0, 0, 0, 0) 0%, #d02d0e, #faa202, #e87a09, #f79d01, #d4350d, rgba(0, 0, 0, 0) 100%);
    background-size: 100% 4px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-radius: 2px;
    margin: 2%;
}


/*@@@  EMAIL  @@@*/


/*@@@  PASSWORD  @@@*/

/*@@@ INDIRIZZO  @@@*/
.boxVia, .boxPaese, .boxProv, .boxCap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxVia{width: 40%;}

.boxPaese{width: 15%;}

.boxProv, .boxCap{width: 13%;}


.boxVia p:nth-child(1), 
.boxPaese p:nth-child(1), 
.boxProv p:nth-child(1), 
.boxCap p:nth-child(1){
    color: #d02b0f;
    font-weight: 800;
    font-size: 13px;
}

.boxVia p:nth-child(2), 
.boxPaese p:nth-child(2), 
.boxProv p:nth-child(2), 
.boxCap p:nth-child(2){
    color: black;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
}



/*#########################   ORDINI   #########################*/
#two{
    display: none;
    transition-property: opacity;
    transition-duration: .5s;
}


/*@@@   FORMATO GRIGLIA   @@@*/
.boxOrdini{
    display: flex;
    flex-direction: column;
    gap: 80px;


    width: 92%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;

    margin-top: 5%;
    border-radius: 30px;


}




/*@@@   GRANDEZZA ORDINE   @@@*/
.order{
    width: 99%;
    height: auto;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:  linear-gradient(white, white) padding-box,
                 linear-gradient(to left, #d0280e, #f9a302) border-box;
    border: 4px solid transparent;
    border-radius: 34px;

}



/*@@@   TESTA E PIEDE DELL'ORDINE    @@@*/
.parteSopra, .parteSotto{
    width: 97%;
    height: 50px;
    display: flex;
}


.parteSopra{
    justify-content: space-between;

}

.orderID, .orderData, .orderNumberProduct{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 120%;

    gap: 15px;
}


.parteSotto{
    justify-content: end;
    font-size: 120%;
    gap: 0.5%;
}




/*@@@   LISTA ELEMENTI    @@@*/
.listaItem{
    width: 100%;
    min-height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaItem hr{
    width: 95%;

    border: 1px solid #c2c2c2;
    border-radius: 2px;

}


/*@@@   SINGOLO PRODOTTO    @@@*/
.item{
    width: 97%;
    height: 150px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 20px 0;

}




/*  SFONDO ORDINE */
.backgroundOrder{
    width: 100%;
    height: auto;
    
    z-index: 3;
    position: absolute;
}

/*PARTE SINISTRA*/
.leftOrder{
    height: 99%;
    width: 17%;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('D:\\Document\\catello\\HamPlanet\\Product\\prosciutto_crudo_01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

}


/*PARTE DESTRA*/
.rightOrder{
    height: 100%;
    width: 83%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
}


/*RIGO*/
.orderRow{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.orderRow2{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* TITOLO DEL PRODOTTO*/
.itemNome, .itemPrezzo{
    height: 100%;
    width: auto;
    display: flex;
}

/*DESCRIZIONE PRODOTTO*/
.itemDescription{
    height: 100%;
    width: 70%;
    font-size: 90%;
}


.itemNome, .itemDescription{margin-left: 2%;}


/*QUANTITA*/
.itemQuantita{
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;
    color: gray;
}


.itemPrezzo, .itemQuantita {gap: 10px;}







/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   SCROLL-BAR LATERALE   @@@@@@@@@@@@@@@@@@@@@@@@@@@@ò@@@*/
.boxOrdini::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    z-index: 4;
}

.boxOrdini::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b7b7b7;
    margin: 20px;
    z-index: 4;

}
.boxOrdini::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #d02d0e), color-stop(1, #faa202));
    border-radius: 10px;
    z-index: 4;
}



/*#########################   CARTE   #########################*/
#three{
    display: none;
    flex-direction: column;
    transition-property: opacity;
    transition-duration: .5s;
    overflow: hidden;

    align-items: center;
    justify-content: baseline;

}



#CarteSalvate{
    font-weight: 900;
    color: black;
    background: rgba(0, 0, 0, 0.251);
    border-radius: 20px;
    margin: 0 10px;
    padding: 0 8px;
    width: auto;
    text-align: center;
}




.boxCarte{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;


    width: 90%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;

    margin-top: 5%;
}

/*################  CARD CON DATI   #####################*/
.card{
    height: 100%;
    width: 100%;

    background-image: url("../img/HamPlanetBankCard_RED.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;

    display: flex;
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}



.card:hover,
.addCard:hover{
    background-size: 95% auto;
}

.card:hover .content{
    scale: 105%;
}

.card:hover .iconRemoveCard{
    opacity: 100%;
}


.content{
    height: auto;
    width: 90%;

    transition: all .4s;
}

.iconRemoveCard{
    position: absolute;
    height: 38px;
    width: auto;
    top: 0;
    right: 1%;
    opacity: 0;
    transition: opacity .4s;
    cursor: pointer;
}

.content p{
    font-family: 'Monomaniac One', sans-serif;
    pointer-events: none;
}

.NameExpiration{
    display: flex;
    flex-direction: column;

    margin: 9px 0 0;

    align-items: end;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}


/*@@@  NUMERO DI CARTA  @@@*/
.numberCard{
    margin: 34% 0 0;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
}


/*@@@  NOME  @@@*/
.owner{
    font-size: 14px;
    width: 65%;
    text-align: center;
    letter-spacing: 2px;
    color: white;

}

/*@@@  VALID THRU  @@@*/
.valid{
    font-size: 7px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin: 2px 4px 0;
}

/*@@@  MESE/ANNO  @@@*/
.monthyear{
    position: relative;
    width: 41%;
    font-size: 6px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    
}


/*@@@  SCADENZA  @@@*/
.expiration{
    color: white;
    text-align: center;
}




/*###############   CARTA VUOTA    ###################*/
.addCard{
    height: 100%;
    width: 100%;

    background-image: url("../img/HamPlanetBankCardAdd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    
    cursor: pointer;
    
    transition: all .4s; 
}


/*@@@   SCROLL-BAR LATERALE   @@@*/
.boxCarte::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    z-index: 4;
}

.boxCarte::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b7b7b7;
    margin: 20px;
    z-index: 4;

}
.boxCarte::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
    z-index: 4;
}



/*###############################   MODIFICA NUMERO   ###############################*/
#modifyNumber{
    height: 0;
    width: 0;
    position: absolute;
    display: none;		/*mettere a flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

    bottom: 0;

    padding: 2%;
    opacity: 0;
    z-index: 10;
    transition: all .7s;

    background-image: url("../img/backModify.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}


/*@@@   FORM   @@@*/
#modifyNumber form,
#modifyPass form,
#modifyAddress form{
    height: 100%;
    width: 100%;
    display: none;             /*mettere a flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all .5s;

}


/*@@@   TITOLO   @@@*/
#titleModify0,
#titleModify1,
#titleModify2{
    height: 35px;
    width: auto;

    color: white;
    font-size: 0px;
    font-weight: 700;
    font-family: 'Geologica', sans-serif;

    pointer-events: none;

    transition: all .7s;
}


/*@@@   INPUTBOX   @@@*/
.inputbox{
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;


    margin: 4% 0;
}

.inputbox input{
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
    padding: 0 14% 0 4%;
    font-size: 15px;
    caret-color: #7d1e11;

    transition: all .5s;


    background: linear-gradient(to right, #d0280e, #ff8800);
    color: white;


    border-radius: 17.5px;
}


/*@@@   BUTTON   @@@*/
.buttonSubmitModify{
    height: 35px;
    width: 30%;


    cursor: pointer;
    transition: all .4s;

    outline: none;
    border: none;
    border-radius: 17.5px;
    font-weight: 700;

    color: white;
    border: 2px solid white;
    background: transparent;
}

.buttonSubmitModify:hover{
    background: white;
    color: #7d1e11;
}



/*@@@   ICONA ANNULLAMENTO OPERAZIONE   @@@*/
#annullOperation_0,
#annullOperation_1,
#annullOperation_2{
    height: 0;
    width: auto;
    position: absolute;
    rotate: 45deg;
    top: 0;    
    right: 0;
    transition: all .5s ease, rotate 1s;
    cursor: pointer;

    z-index: 11;
}


#annullOperation_3{
    height: 6%;
    width: auto;

    position: absolute;

    top: 3.5%;
    right: -10%;

    
    transition: all .5s ease, rotate 1s;

    cursor: pointer;
    z-index: 11;
}




/*###############################   MODIFICA PASSWORD   ###############################*/
#modifyPass{
    height: 0;
    width: 0;
    position: absolute;
    display: none;             /*mettere a flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 2%;
    bottom: 0;

    opacity: 0;
    z-index: 10;
    transition: all .7s;

    background-image: url("../img/backModifyPass.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;

}

#modifyPass hr {
    margin: 1% 0;
    width: 90%;
    height: 0.5px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: rgb(123, 123, 123);
}

/*scritta*/
.inputbox label{
    position: absolute;
    letter-spacing: 4px;
    pointer-events: none;
    font-size: 16px;
    
    transition: all .5s;
}




/*colora bordo quando inserisco input*/
.inputbox input:focus,
.inputbox input:valid{
    border: 2px solid white;
}

/*sposto testo quando inserisco input oppure ci passo sopra*/
.inputbox:hover label,
.inputbox input:focus + label,
.inputbox input:valid + label{
    transform: translateY(-140%);
    font-size: 14px;
    letter-spacing: 0;
}


/*immagine occhio*/
.img_pass {
    height: 7%;
    width: auto;
    scale: 0;

    position: absolute;
    right: 14%;

    transition: all .5s;

    cursor: pointer;
}

.inputbox:hover img,
.inputbox input:focus ~ img,
.inputbox input:valid ~ img{
    scale: 1;
}



/*messaggi errore*/
#mess0, #mess1, #mess2{
    height: auto;
    width: auto;
    position: absolute;
    font-size: 76%;
    font-weight: 300;
    color: red;
    border-radius: 10px;
    padding: 0 2%;
    scale: 0;

    transition: all .5s;
}


/*@@@   LISTA COSE DA RISPETTARE   @@@*/
#ToDoList{
    height: 250px;
    width: 230px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    top: 58%;
    border-radius: 10px;
    padding: 3%;
    background-image: url("../img/boxRequestV1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    transition: all .5s;
    
    scale: 0;
}

#passTit, #securityTit, #evitTit {
    color: black;
    font-weight: 500;
    font-size: 80%;
    margin: 1%;
}

#evitTit{
    text-align: center;
}

#lunghezza, #number, #special, #uppercase{
    color: gray;
    font-weight: 400;
    font-size: 80%;
    padding-left: 1%;
}


/*@@@@@   PROGRESS BAR   @@@@@*/
.progress{
    height: 5%;
    width: 100%;
    display: flex;
    background: #ddd;
    border-radius: 20px;
    margin: 2% 0;
}

#progress-done{
    height: 100%;
    width: 0;
    background: linear-gradient(to left, #d0280e, #faa202);
    border-radius: 20px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 3px -5px #d0280e, 0 3px 150px #faa202;
    transition: width .5s ease;
}





/*###############################   MODIFICA INDIRIZZO   ###############################*/
#modifyAddress{
    height: 0;
    width: 0;
    position: absolute;
    display: none;             /*mettere a flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 2% 2.8%;
    bottom: 0;

    opacity: 0;
    z-index: 10;
    transition: all .7s;

    background-image: url("../img/backModifyAddress.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}


#modifyAddress .inputbox{
    width: 100%;
}

#modifyAddress label{
    font-size: 15px;
}

.inputboxNC{
    display: flex;
    width: 100%;
}

#via, #paese{
	text-transform: capitalize;
}

#provincia{
	text-transform: uppercase;
}

#via, #paese, #provincia, #cap{
    text-align: center;
    padding: 0 5%;
}







/*###############################   FORM PER NUOVA CARTA   ###############################*/
#boxNewCard{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 90%;
    width: 33%;

    transform-origin: bottom;

    transform: scale(0) translateY(50%);

    transition: all .6s;

    z-index: 11;
}

#formNewCard{
    height: 75%;
    width: 100%;

    background: rgba(255, 255, 255);
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 2px 2px 10px gray;

    align-items: center;
    justify-content: end;


}

/*dimensioni box carta*/
#cardMod{
    width: 90%;
    height: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    transition: all 1s;
}




/*  REGOLE COMUNI FRONTE E RETRO*/
#frontCard,#backCard{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: perspective(800px) rotateY(0deg);
    filter: drop-shadow(0px 12px 7px rgba(35, 100, 210, 0.3));
    transition: 1s ease-in-out;   
    cursor: pointer; 
}


/*  FRONT   */
#frontCard{
    height: 100%;
    width: 100%;
    position: absolute;

    background-image: url("../img/HamPlanetBankCard_RED_V2.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#contentNewCard{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


/*##################################  BACK  ###########################################àà*/
#backCard{
    height: 100%;
    width: 100%;
    position: absolute;

    background-image: url("../img/HamPlanetCardBack_RED.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    
    /*posizione iniziale*/
    transform: perspective(800px) rotateY(180deg);
}


/*@@@ CONTENITORE CVV @@@*/
.boxCVV{
    height: 12%;
    width: 18.5%;
    display: flex;
    position: absolute;
    right: 0;
    align-items: end;
    justify-content: center;
}

.boxCVV p{
    font-size: 100%;
}

/*@@@   NUMERO CARTA   @@@*/
.rowNumber{
    font-family: 'Monomaniac One', sans-serif;
    width: 90%;
    height: auto;
    text-align: center;

    font-size: 130%;
    letter-spacing: 8px;

    border-radius: 5px;
    margin: 0 0 5%;
}




/*   RIGO   */
.rowNC{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;

    margin: 0 0 10%;
    
}




/*@@@   PROPRIETARIO   @@@*/
.boxOwner{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 65%;
    align-items: start;

    
    border-radius: 5px;
}


#newOwner{
    height: 20%;
    width: 100%;

    text-align: start;
}



/*@@@   SCADENZA   @@@*/
.boxExpiration{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    border-radius: 5px;
}



/*  TESTO  */

#frontCard p{
    font-family: 'Monomaniac One', sans-serif;
    color: white;
    font-weight: 500;
}




.rowNC label, 
.rowNC p{
    font-family: "Source Code Pro", monospace;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    transform: translateZ(50px);
}


.rowNC label{
    font-size: 10px;
    color: #ccbac5;
    font-weight: 600;
    
}

.rowNC p{
    font-size: 80%;
    color: white;
    font-weight: 400;
    letter-spacing: 5px;
}


/*DIMENSIONI FORM*/
.frm{
    height: 60%;
    width: 90%;

    margin: 0 0 5%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

/*contenitore campo*/
.inputboxNumber{
    height: 15%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    
    margin: 2% 0;
}

/*campo input*/
.inputboxNumber input{
    height: 90%;
    width: 100%;
    font-size: 100%;
    border: 2px solid rgba(128, 128, 128, 0.1);
    background: none;
    border-radius: 20px;
    outline: none;
    padding: 0 4%;
}

.inputboxNumber .textInputbox,
.inputboxMAC .textInputbox{
    position: absolute;
    width: auto;
    font-weight: 600;
    pointer-events: none;
    transition: all .3s linear;
    animation-delay: 0ms;
    background: white;
    color: #7d1e11;
    margin: 0 1%;
    padding: 0 1%;
    border-radius: 10px;
}

/*TESTO QUANDO INSERISCO INPUT O VALIDO*/
.inputboxNumber input:focus ~ .textInputbox,
.inputboxNumber input:valid ~ .textInputbox,
.inputboxMAC input:focus ~ .textInputbox,
.inputboxMAC input:valid ~ .textInputbox{
    transform: translateY(-23px) translateX(2%) scale(0.8) ;
}





/*BOX OMBRA QUANDO INSERISCO*/
.inputboxNumber input:focus,
.inputboxMAC input:focus{
    box-shadow: 0px 7px 10px rgba(14, 42, 90, 0.6);
}


.containerMAC{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0;

    justify-content: space-between;

}


.inputboxMAC{
    flex-basis: 30%; /* Dividi larghezza in tre parti uguali */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}



.inputboxMAC input{
    height: 90%;
    width: 100%;
    position: relative;
    font-size: 100%;
    border: 2px solid rgba(128, 128, 128, 0.1);
    background: none;
    border-radius: 20px;
    outline: none;
    text-align: center;
}


/*  BOTTONE AGGIUNTA CARTA  */
#buttonAddCard{
    color: black;
    margin: 5% 0 0;
    border: 2px solid rgba(128, 128, 128, 0.371);
}

#buttonAddCard:hover{
    color: #d02d0e;
    transform: scale(1.1);
    border-color: #d02d0e;
}



@media (max-width: 768px){
	.boxArea{
		display: flow-root;

	}
	
	.left,
	.right{
		width: 96%;
		height: 90vh;
		
		margin: 2% 2%
	}
	
}











